@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.fadeOut {
  animation: fadeOut 3s;
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
